.containerHeader{
    width: 100%;
}

.menuHeader{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 50px;
    align-items: center;
    border-radius: 10px;
    background-color: #170E71;
    color: white;
    list-style-type: none;
}

li{
    margin: 10px 0px
}

.titleHeader{
    margin-bottom: 10px;
    max-width: 100%;
}

.subtitleHeader{
    margin-bottom: 20px;
}